# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Django DB
db.sqlite3

# Media uploads (optional)
media/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log